@use "@/styles/constants";

.home-page {
    --gap: 0.5rem;
    --row-size: 70px;

    .home-grid {
        display: grid;
        gap: var(--gap);
        grid-template-columns: repeat(4, 75px);
        grid-template-rows: repeat(7, var(--row-size));

        .nav-card-container {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-end: span 2;
        }
    }
}

// Tablet display
@media screen and (min-width: constants.$tablet) {
    .home-page {
        --gap: 1rem;
        --row-size: 50px;

        .home-grid {
            grid-template-columns: repeat(6, calc(2 * var(--row-size)));

            .nav-card-container {
                grid-column-start: 3;
                grid-column-end: 7;
                grid-row-end: span 3;
            }

            .main-card {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 8;
            }
        }
    }
}

// Desktop display
@media screen and (min-width: constants.$desktop) {
    .home-page {
        --row-size: 70px;
    }
}
