@use "@/styles/constants";

.navbar-container {
    --page-nav-margin: 0.75rem;
    --page-nav-size: 1.2rem;

    display: flex;
    height: constants.$navbar-height;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;

    .navbar {
        align-items: center;
        display: flex;
        font-family: constants.$header-font;
        justify-content: space-between;
        max-width: constants.$max-width;
        padding: 0 constants.$page-padding;
        width: 100%;

        .main-nav {
            .title {
                font-size: 2rem;
                letter-spacing: 1px;
            }
        }
    }
}

@media (hover: hover) {
    .navbar-container > .navbar .title:hover {
        color: var(--theme-hover);
    }
}
