@use "@/styles/constants";

.home-page {
    --gap: 0.5rem;
    --grid-col-width: 75px;
    --grid-cols: 4;
    --grid-rows: 7;
    --nav-card-col-end: 5;
    --nav-card-col-start: 1;
    --nav-card-height: 2;
    --row-size: 70px;

    .home-grid {
        display: grid;
        grid-template-rows: repeat(var(--grid-rows), var(--row-size));
        grid-template-columns: repeat(var(--grid-cols), var(--grid-col-width));
        gap: var(--gap);

        .nav-card {
            grid-row-end: span var(--nav-card-height);
            grid-column-start: var(--nav-card-col-start);
            grid-column-end: var(--nav-card-col-end);
        }
    }
}

@media screen and (min-width: constants.$tablet) {
    .home-page {
        --gap: 0.75rem;
        --grid-col-width: 100px;
        --grid-cols: 6;
        --nav-card-col-end: 7;
        --nav-card-col-start: 3;
        --nav-card-height: 3;
        --row-size: 50px;
        --vertical-card-col-end: 3;
        --vertical-card-col-start: 1;
        --vertical-card-row-end: 8;
        --vertical-card-row-start: 1;

        .home-grid {
            .vertical-card {
                grid-row-start: var(--vertical-card-row-start);
                grid-row-end: var(--vertical-card-row-end);
                grid-column-start: var(--vertical-card-col-start);
                grid-column-end: var(--vertical-card-col-end);
            }
        }
    }
}

@media screen and (min-width: constants.$desktop) {
    .home-page {
        --gap: 1rem;
        --grid-col-width: 140px;
        --row-size: 70px;
    }
}
