@use "@/styles/constants";

.projects-page {
    --img-size: 280px;
    --padding: 2rem;
    display: flex;
    justify-content: space-around;

    align-items: center;
    width: 100%;

    .project-info-container {
        display: none;
        position: relative;
        border-radius: 10px;
        background: var(--theme-accent);
        width: calc(var(--img-size) + 2 * var(--padding));
        height: 565px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .disabled {
        overflow: hidden;
    }
}

@media screen and (min-width: constants.$tablet) {
    .projects-page {
        --padding: 2rem;

        .project-info-container {
            display: block;
        }
    }
}

@media screen and (min-width: constants.$desktop) {
    .projects-page {
        --img-size: 440px;
    }
}
