@use "@/styles/constants";

.project-card {
    --title-size: 1.75rem;

    border-bottom: 2px solid var(--theme-text);
    transition: height 0.2s;
    width: 100%;

    .project-name {
        font-family: constants.$header-font;
        font-size: var(--title-size);
    }
}

.expanded {
    height: 400px;
}
