@use "@/styles/constants";

.tool-tag {
    --border-rad: 2px;
    --border-size: 2px;
    --tag-letter-spacing: 1px;
    --tag-x-padding: 1rem;
    --tag-y-padding: 0.5rem;

    border: var(--border-size) solid var(--theme-text);
    border-radius: var(--border-rad);
    background: var(--tag-color);
    padding: var(--tag-y-padding) var(--tag-x-padding);

    .tag-text {
        color: var(--theme-text);
        font-family: constants.$header-font;
        letter-spacing: var(--tag-letter-spacing);
    }
}

.express-js {
    --tag-color: black;
}

.firebase {
    --tag-color: #ffa611;
}

.jest {
    --tag-color: #98425b;
}

.mongodb {
    --tag-color: #4db33d;
}

.next-js {
    --tag-color: black;
}

.node-js {
    --tag-color: #68a063;
}

.postgres {
    --tag-color: #0064a5;
}

.prisma {
    --tag-color: #0c354b;
}

.react {
    --tag-color: #61dbfb;
}

.sass {
    --tag-color: #c69;
}

.testing-library {
    --tag-color: #e33332;
}

.typescript {
    --tag-color: #007acc;
}

.unity {
    --tag-color: black;
}

.vue {
    --tag-color: #41b883;
}
