@use "@/styles/constants";

.tool-tag {
    --border-rad: 2px;
    --border-size: 2px;
    --tag-letter-spacing: 1px;
    --tag-x-padding: 1rem;
    --tag-y-padding: 0.5rem;

    border: var(--border-size) solid var(--theme-text);
    border-radius: var(--border-rad);
    background: var(--tag-color);
    padding: var(--tag-y-padding) var(--tag-x-padding);

    .tag-text {
        color: var(--theme-text);
        font-family: constants.$header-font;
        letter-spacing: var(--tag-letter-spacing);
    }
}
