@use "@/styles/constants";

.new-section {
    --input-font-size: 1rem;

    .title {
        --border-size: 1px;
        --font-size: 1.25rem;
        --inner-spacing: 0.5rem;
        --margin-bottom: 1rem;
        --padding-bottom: 1rem;

        display: flex;
        align-items: center;
        gap: var(--inner-spacing);
        margin-bottom: var(--margin-bottom);
        border-bottom: var(--border-size) solid var(--theme-text);
        padding-bottom: var(--padding-bottom);
        font-size: var(--font-size);

        .title-input {
            flex: 1;
            border-radius: var(--border-radius);
            background-color: var(--theme-accent);
            padding: var(--input-y-padding) var(--input-x-padding);
            color: var(--theme-text);
            font-size: var(--input-font-size);
            font-family: constants.$main-font;
        }
    }

    .body {
        --default-height: 10rem;

        display: block;
        border-radius: var(--border-radius);
        background-color: var(--theme-accent);
        padding: var(--input-y-padding) var(--input-x-padding);
        width: 100%;
        height: var(--default-height);
        resize: vertical;
        color: var(--theme-text);
        font-size: var(--input-font-size);
        font-family: constants.$main-font;
    }
}

@media screen and (min-width: constants.$tablet) {
    .new-section > .title {
        --font-size: 1.5rem;
        --margin-bottom: 1.25rem;
        --padding-bottom: 1.25rem;
    }
}
