@use "@/styles/constants";

.nav-card {
    --border-rad: 10px;
    --title-opacity: 0.5;

    border-radius: var(--border-rad);
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: transform constants.$transition-time,
        box-shadow constants.$transition-time;
    width: 100%;

    .card-title {
        background: rgba(0, 0, 0, var(--title-opacity));
        bottom: 0;
        left: 0;
        padding: 1rem 3rem;
        position: absolute;
        transition: background constants.$transition-time;
        width: 100%;

        .title {
            color: white;
            font-family: constants.$header-font;
            font-size: 1.5rem;
        }
    }
}

// Sticky hover
@media (hover: hover) {
    .nav-card:hover {
        --title-opacity: 0.7;

        box-shadow: var(--theme-shadow);
        transform: scale(1.01);
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .nav-card {
        .card-title {
            width: auto;
        }

        .left-title {
            border-radius: 0 var(--border-rad) 0 0;
        }

        .right-title {
            border-radius: var(--border-rad) 0 0 0;
            left: auto;
            right: 0;
        }
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .nav-card > .card-title > .title {
        font-size: constants.$header-size;
    }
}
