// Fonts
$main-font: "IBM Plex Sans", sans-serif;
$header-font: Staatliches, sans-serif;

// Dark theme
$dark: #222;
$dark-accent: #302d2d;
$dark-text: white;
$dark-hover: #9055f0;
$dark-svg: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
    brightness(103%) contrast(103%);
$dark-svg-hover: invert(39%) sepia(23%) saturate(5385%) hue-rotate(241deg)
    brightness(95%) contrast(98%);
$dark-shadow: 0 3px 5px 3px #1b1b1b;

// Light theme
$light: white;
$light-accent: rgb(233, 232, 232);
$light-text: black;
$light-hover: #00a2ff;
$light-svg: invert(0%) sepia(2%) saturate(8%) hue-rotate(0deg) brightness(95%)
    contrast(102%);
$light-svg-hover: invert(42%) sepia(100%) saturate(1859%) hue-rotate(177deg)
    brightness(103%) contrast(104%);
$light-shadow: 0 3px 5px 1px #777;

// Dimensions
$max-width: 1360px;
$navbar-height: 80px;
$page-padding: 2rem;
$mobile: 425px;
$tablet: 768px;
$desktop: 1440px;

// Z-layering
$navbar-z: 1;
