// Fonts
$main-font: Inter, sans-serif;
$header-font: Staatliches, sans-serif;

// Font sizes
$header-size: 2rem;

// Dark theme
$dark: #222;
$dark-text: white;
$dark-hover: rgb(29, 73, 218);

// Light theme
$light: #e9e9dc;
$light-text: black;
$light-hover: rgb(189, 171, 93);

// Dimensions
$max-width: 1360px;
$navbar-height: 60px;
$page-padding: 2rem;

// Z-index
$z-bg: -1;

// Misc.
$transparent: 0.1;
