@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Staatliches&display=swap");

#app {
    color: var(--theme-text);
    overflow-x: hidden;
}

body,
body[data-theme="dark"] {
    --theme-main: #{constants.$dark};
    --theme-accent: #{constants.$dark-accent};
    --theme-text: #{constants.$dark-text};
    --theme-hover: #{constants.$dark-hover};
    --theme-svg: #{constants.$dark-svg};
    --theme-svg-hover: #{constants.$dark-svg-hover};
    --theme-shadow: #{constants.$dark-shadow};
}

body[data-theme="light"] {
    --theme-main: #{constants.$light};
    --theme-accent: #{constants.$light-accent};
    --theme-text: #{constants.$light-text};
    --theme-hover: #{constants.$light-hover};
    --theme-svg: #{constants.$light-svg};
    --theme-svg-hover: #{constants.$light-svg-hover};
    --theme-shadow: #{constants.$light-shadow};
}

html,
body {
    background: var(--theme-accent);
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
    transform: translate(0, 0) !important;
}
