@use "@/styles/constants";

.project-info {
    --link-size: 40px;
    flex-direction: column;

    align-items: center;
    padding: var(--padding);
    padding-right: calc(var(--padding));
    width: 100%;

    .project-img {
        position: relative;
        margin-bottom: 2rem;
        border-radius: 10px;
        height: var(--img-size);
        overflow: hidden;
    }

    .project-desc {
        width: 100%;

        .project-section {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            .section-header {
                margin-bottom: 1rem;
                font-weight: bold;
                font-size: 1.3rem;
            }

            .project-links {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: var(--link-size);

                .icon-container {
                    position: relative;
                    filter: var(--theme-svg);
                    margin-left: 1rem;
                    width: var(--link-size);
                    height: var(--link-size);

                    &:last-child {
                        margin-left: none;
                    }
                }
            }

            .project-text {
                font-size: 1.1rem;
            }

            .tool-list {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 0.5rem;
            }
        }

        .top-section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .section-header {
                margin-bottom: 0;
            }
        }
    }
}

@media (hover: hover) {
    .project-info
        > .project-desc
        > .project-section
        > .project-links
        > .icon-container:hover {
        filter: var(--theme-svg-hover);
    }
}
