@use "@/styles/constants";

.projects-page {
    --img-size: 0;
    --link-size: 40px;

    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .project-info {
        align-items: center;
        background: blue;
        display: none;
        flex-direction: column;
        height: 550px;
        overflow-y: scroll;
        padding: 0 2rem;
        position: relative;

        .project-img {
            border-radius: 10px;
            height: var(--img-size);
            margin-bottom: 2rem;
            margin-top: 2rem;
            overflow: hidden;
            position: relative;
            width: var(--img-size);
        }

        .project-desc {
            display: flex;
            font-size: 1.2rem;
            justify-content: space-between;
            width: 100%;

            .project-links {
                align-items: center;
                display: flex;
                height: var(--link-size);
                justify-content: flex-end;

                .icon-container {
                    filter: var(--theme-svg);
                    height: var(--link-size);
                    margin-left: 1rem;
                    position: relative;
                    width: var(--link-size);

                    &:last-child {
                        margin-left: none;
                    }
                }
            }
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

// Sticky hover
@media (hover: hover) {
    .projects-page
        > .project-info
        > .project-desc
        > .project-links
        > .icon-container:hover {
        filter: var(--theme-svg-hover);
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .projects-page {
        --img-size: 360px;

        .project-info {
            display: flex;
        }
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .projects-page {
        --img-size: 440px;
    }
}
