@use "@/styles/constants";

.projects-page {
    --img-size: 0;
    --link-size: 40px;

    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .project-info-container {
        background: var(--theme-accent);
        border-radius: 10px;
        display: none;
        height: 565px;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    .disabled {
        overflow: hidden;
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .projects-page {
        --img-size: 360px;

        .project-info-container {
            display: block;
        }
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .projects-page {
        --img-size: 440px;
    }
}
