@use "@/styles/constants";

.navbar {
    background: var(--theme-accent);
    box-shadow: var(--theme-shadow);
    display: flex;
    height: constants.$navbar-height;
    justify-content: center;
    width: 100%;

    .navbar-container {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: constants.$max-width;
        padding: 0 constants.$page-padding;
        width: 100%;

        .name {
            font-family: constants.$header-font;
            font-size: constants.$header-size;
            letter-spacing: 1px;
        }
    }
}

// Sticky hover
@media (hover: hover) {
    .name:hover {
        color: var(--theme-hover);
    }
}

// Tablet display
@media screen and (min-width: constants.$tablet) {
    .navbar > .navbar-container {
        justify-content: flex-start;
    }
}
