@use "@/styles/constants";

.footer {
    --icon-size: 32px;

    align-items: center;
    background: var(--theme-accent);
    box-shadow: var(--theme-shadow);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    position: relative;
    width: 100%;

    .footer-container {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: constants.$max-width;
        width: 100%;

        .copyright {
            font-family: constants.$main-font;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

// Sticky hover
@media (hover: hover) {
    .footer > .footer-container > .footer-links > .footer-icon:hover {
        filter: var(--theme-svg-hover);
    }
}

// Tablet display
@media screen and (min-width: constants.$tablet) {
    .footer {
        --icon-size: 40px;
    }
}
