@use "@/styles/constants";

.project-modal-bg {
    animation-name: fadein;
    animation-duration: 0.4s;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    height: calc(100vh - constants.$navbar-height);
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;

    .project-modal {
        background: var(--theme-accent);
        border-radius: 20px;
        height: 85%;
        overflow-y: scroll;
        width: 90%;
    }
}

.closing {
    animation-name: fadeout;
    animation-duration: 0.4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .project-modal-bg {
        display: none;
    }
}
