@use "@/styles/constants";

.experience-card {
    --border-radius: 5px;
    --card-padding: 1rem;

    border-radius: var(--border-radius);
    background: var(--theme-accent);
    overflow: hidden;

    .timeframe {
        --font-size: 1.25rem;
        --x-padding: var(--card-padding);
        --y-padding: 0.25rem;

        background-color: var(--theme-hover);
        padding: var(--y-padding) var(--x-padding);
        color: var(--theme-main);
        font-size: var(--font-size);
        font-family: constants.$header-font;
    }

    .card {
        --body-font-size: 1rem;
        --inner-spacing: 1rem;

        padding: var(--card-padding);

        .card-header {
            display: flex;
            align-items: center;

            .card-img {
                --img-size: 60px;

                position: relative;
                margin-right: var(--inner-spacing);
                width: var(--img-size);
                height: var(--img-size);
            }

            .header-text {
                .company {
                    --font-size: 1.5rem;
                    --letter-spacing: 1px;

                    font-size: var(--font-size);
                    font-family: constants.$header-font;
                    letter-spacing: var(--letter-spacing);
                }

                .title {
                    font-size: var(--body-font-size);
                }
            }
        }

        .card-description {
            --margin-left: 1rem;

            margin-top: var(--inner-spacing);
            margin-left: var(--margin-left);
            list-style-type: circle;

            .bullet {
                --margin-bottom: 0.5rem;

                margin-bottom: var(--margin-bottom);
                font-size: var(--body-font-size);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: constants.$desktop) {
    .experience-card {
        --card-padding: 2rem;

        .timeframe {
            display: none;
        }

        .card {
            --body-font-size: 1.25rem;
            --inner-spacing: 1.5rem;

            .card-header {
                .card-img {
                    --img-size: 80px;
                }

                .header-text > .company {
                    --font-size: 1.75rem;
                }
            }

            .card-description > .bullet {
                --margin-bottom: 0.75rem;
            }
        }
    }
}
