@use "@/styles/constants";

.new-page {
    --border-radius: 2px;
    --input-x-padding: 1rem;
    --input-y-padding: 0.5rem;
    --page-inner-spacing: 1rem;

    display: flex;
    flex-direction: column;
    gap: var(--page-inner-spacing);
    width: 100%;
    min-height: calc(
        100lvh - constants.$navbar-height - 2 * constants.$page-padding
    );

    .top-bar {
        --inner-spacing: 0.5rem;

        display: flex;
        gap: var(--inner-spacing);

        .journal-title-input {
            --font-size: 1.25rem;

            flex: 1;
            border-radius: var(--border-radius);
            background-color: var(--theme-accent);
            padding: var(--input-y-padding) var(--input-x-padding);
            color: var(--theme-text);
            font-size: var(--font-size);
            font-family: constants.$main-font;
        }

        .button {
            --font-size: 1rem;
            --x-padding: 1rem;
            --y-padding: 0.5rem;

            border-radius: var(--border-radius);
            padding: var(--y-padding) var(--x-padding);
            font-size: var(--font-size);
        }

        .clear-button {
            background-color: constants.$red;
            color: white;
        }

        .submit-button {
            background-color: var(--theme-text);
            color: var(--theme-main);
        }
    }
}

@media (hover: hover) {
    .new-page > .top-bar {
        .clear-button:hover {
            background-color: constants.$red-hover;
        }

        .submit-button:hover {
            background-color: var(--theme-hover);
            color: var(--theme-text);
        }
    }
}
