@use "@/styles/constants";

.search-bar {
    --border-rad: 4px;
    --font-size: 1rem;
    --icon-size: 16px;
    --search-x-padding: 0.75rem;
    --search-y-padding: 0.5rem;

    display: flex;
    flex: 1;
    border-radius: var(--border-rad);
    overflow: hidden;

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme-accent);
        padding-left: var(--search-x-padding);

        .icon {
            position: relative;
            filter: var(--theme-svg);
            padding: var(--search-y-padding) var(--search-x-padding);
            width: var(--icon-size);
        }
    }

    .query {
        background-color: var(--theme-accent);
        padding: var(--search-y-padding) var(--search-x-padding);
        width: 100%;
        color: var(--theme-text);
        font-size: var(--font-size);
        font-family: constants.$main-font;
    }
}
