@use "@/styles/constants";

.page-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - #{constants.$navbar-height});
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity constants.$transition-time,
        transform constants.$transition-time;

    .page-container {
        padding: constants.$page-padding;
        max-width: constants.$max-width;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
    transform: translate(0, 0);
}
