// Theme colors
$primary: black;
$accent: white;
// Fonts
$main-font: "Exo 2", Helvetica, Arial, sans-serif;
// Project card colors
$card-color: darken(#b7c9e5, 10%);
$glow-color: #2187e7b3;
// Tools colors
$vue-primary: #41b883;
$vue-accent: #34495e;
$js-primary: #f0db4f;
$js-accent: #323330;
$htmlcss-primary: #e54c26;
$htmlcss-accent: #2448ed;
$python-primary: #ffcf3e;
$python-accent: #3771a2;
$cpp-primary: #659ad2;
$cpp-accent: #004482;
$react-primary: #53c1de;
$react-accent: white;
// Social icon colors
$linkedin-primary: #006192;
$github-primary: #f5f5f5;
$twitter-primary: #1DA1F2;
$facebook-primary: #4267B2;
$instagram-primary: #C13584;
// Sizing for media queries
$laptop-l: 1620px;
$laptop: 1025px;
$tablet: 769px;
$mobile: 426px;
