$primary: black;
$accent: white;
$card-color: #b7c9e5;
$vue-primary: #41b883;
$vue-accent: #34495e;
$js-primary: #f0db4f;
$js-accent: #323330;
$htmlcss-primary: #e54c26;
$htmlcss-accent: #2448ed;
$python-primary: #ffcf3e;
$python-accent: #3771a2;
$cpp-primary: #659ad2;
$cpp-accent: #004482;
$react-primary: #53c1de;
$react-accent: white;
$linkedin-primary: #006192;
$github-primary: #f5f5f5;
$twitter-primary: #1DA1F2;
$facebook-primary: #4267B2;
$instagram-primary: #C13584;
$level-one: translateZ(3rem);
$level-two: translateZ(6rem);
$level-three: translateZ(9rem);
