$primary: black;
$accent: white;
$vue-primary: #41b883;
$vue-accent: #34495e;
$js-primary: #f0db4f;
$js-accent: #323330;
$htmlcss-primary: #e54c26;
$htmlcss-accent: #2448ed;
$python-primary: #ffcf3e;
$python-accent: #3771a2;
$cpp-primary: #659ad2;
$cpp-accent: #004482;
$react-primary: #53c1de;
$react-accent: white;