@use "@/styles/constants";

.project-info {
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    padding: 2rem;
    width: 100%;

    .project-img {
        border-radius: 10px;
        height: var(--img-size);
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: var(--img-size);
    }

    .project-desc {
        width: 100%;

        .project-section {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            .section-header {
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .project-links {
                align-items: center;
                display: flex;
                height: var(--link-size);
                justify-content: flex-end;

                .icon-container {
                    filter: var(--theme-svg);
                    height: var(--link-size);
                    margin-left: 1rem;
                    position: relative;
                    width: var(--link-size);

                    &:last-child {
                        margin-left: none;
                    }
                }
            }

            .project-text {
                font-size: 1.1rem;
            }
        }

        .top-section {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .section-header {
                margin-bottom: 0rem;
            }
        }
    }
}

// Sticky hover
@media (hover: hover) {
    .project-info
        > .project-desc
        > .project-section
        > .project-links
        > .icon-container:hover {
        filter: var(--theme-svg-hover);
    }
}
