@use "@/styles/constants";

.about-page {
    --body-size: constants.$main-size;
    --img-size: 0;
    --section-margin: 2rem;
    --text-spacing: 0;

    .about-section {
        margin-bottom: var(--section-margin);

        &:last-child {
            margin-bottom: 0;
        }

        .section-header {
            font-family: constants.$header-font;
            font-size: constants.$header-size;
            letter-spacing: var(--text-spacing);
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
        }

        .section-content {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .section-img {
                height: var(--img-size);
                position: relative;
                width: var(--img-size);
            }

            .section-text {
                font-size: var(--body-size);
                letter-spacing: var(--text-spacing);
                width: calc(100% - var(--img-size));
            }
        }
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .about-page {
        --body-size: 1.2rem;
        --section-margin: 3rem;
        --text-spacing: 1px;
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .about-page {
        --body-size: 1.4rem;
        --img-size: 17rem;
        --section-margin: 5rem;

        .about-section {
            .section-header {
                text-align: left;
            }

            .section-content > .section-text {
                margin-right: 1rem;
            }
        }

        .right-align {
            .section-header {
                text-align: right;
            }

            .section-content > .section-text {
                margin-left: 1rem;
                margin-right: 0;
                text-align: right;
            }
        }
    }
}
