@use "@/styles/constants";

.about-page {
    --body-size: constants.$main-size;
    --img-size: 0;
    --section-margin: 2rem;
    --text-spacing: 0;

    .about-header {
        font-family: constants.$header-font;
        font-size: constants.$header-size;
        letter-spacing: var(--text-spacing);
        text-align: center;
        width: 100%;
    }

    .about-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--section-margin);

        &:last-child {
            margin-bottom: 0;
        }

        .about-img {
            height: var(--img-size);
            position: relative;
            width: var(--img-size);
        }

        .about-text {
            font-size: var(--body-size);
            letter-spacing: var(--text-spacing);
            width: calc(100% - var(--img-size));
        }
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .about-page {
        --section-margin: 3rem;
        --text-spacing: 1px;
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .about-page {
        --body-size: 1.4rem;
        --img-size: 17rem;
        --section-margin: 5rem;

        .about-container .about-header {
            text-align: left;
        }

        .right-align {
            text-align: right;
        }
    }
}
